src/main/mule/world-timezone-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="f80a4656-d820-422c-b669-7fa05c9c6fe1" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4a1c1d1d-0d30-4649-be15-ed56b44dd599" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="8083" />
	</http:listener-config>
	<flow name="world-timezone-cicdFlow" doc:id="0dcf4f36-316d-4fb7-b5a4-2d96fd589a4c" >
		<http:listener doc:name="Listener" doc:id="92868ed4-1dc2-46e3-8ce9-cc0a63ddf37e" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<http:request method="GET" doc:name="Request" doc:id="d8409aa6-aadd-491d-b76e-7399bf03d575" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
